extends ../layouts/layout

block content

  .breadcrumb
    li
      a(href='/') 首页
    li.active
      | 投资

  include ../includes/messages

  .row
    .col-md-12
      .page-header
        .pull-right
          a(href='/investments').btn.btn-info 概览
          | &nbsp;
          - if(locals.member)
            a(href='/investments/new').btn.btn-info 添加新投资
        h1 投资列表
          | 
          small

  .row.list-item
    .col-md-12
      table.table.table-striped
        thead
          tr
            th 投资标题
            th 金额
            th 利率
            th 还款方式
            th 期限
            th 借款人
            th 操作
        tbody
          - each item in investments
            tr
              td= item.title
              td= item.amount_bignum + '元'
              td= item.rate_smart
              td= item.repayment_smart
              td= item.periods_smart
              td= item.borrower
              td
                a(href="/investments/#{item._id}/edit") 编辑
                | &nbsp;
                a(href="/investments/#{item._id}/delete") 删除

            
  ul.pagination.pagination-centered
    li
      a(href=pagination.link_to + '?page=' + pagination.prev_page) 前页
    - for(var i = 0; i < pagination.max_pages; i++)
      li(class=(pagination.current_page == i)? 'active' : '')
        a(href=pagination.link_to + '?page=' + i)= i + 1
    li
      a(href=pagination.link_to + '?page=' + pagination.next_page) 后页

  include ../includes/scripts